/* you can add to or change this. */
* {
  box-sizing: border-box;
  font-family: Yantramanav;
  /* background-color:#F2E9E4; */
  margin: 0;
  color: #A6A6A6;
}

#game {
  padding: 2vw 2vw;

}

body {
  background-color: #cecece;
}

#game div {
  width: 16%;
  height: 22.8vw;
  margin: 2%;
  display: inline-block;
  align-items: center;
}

#banner {
  background-color: #404040;
  text-align: center;
  padding: 1%;
}

h1 {
  font-size: 8vw;
  background-color:  #404040;
  border: solid 0.1vw;
  padding: 4vw 0vw;
}

.red{
  background-color: #BE6A74;
}

.blue {
  background-color: #A9BCCB;
}

.orange {
  background-color: #E6B07A;
}

.green {
  background-color: #778A5A;
}

.purple {
  background-color: #9B8295;
}

.blank {
  background-color: #262626;
  transition: background-color .5s;
}